@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,600&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 20px;
  background-color: #34495e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -5;
  animation: fadeIn 0.5s ease-in-out;
}

.clock h1 {
  font-size: 100px;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin: 0;
}

h3 {
  margin-top: 60px;
}

h6 {
  margin: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

::placeholder {
  color: white;
}

.form input,
.toDoForm input {
  all: unset;
  color: white;
  text-align: center;
}

.form input {
  font-size: 40px;
}

.toDoForm {
  border-bottom: 2px solid white;
  width: 350px;
  padding: 5px;
  display: flex;
  justify-content: center;
}

.toDoList {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.toDoList li {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.toDoList button {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: white;
  font-size: 16px;
  margin-right: 15px;
}

.weather {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
}
